html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-container {
  padding: 16px;
}

.custom-card {
  width: 80%;
  margin: 0 auto;
}

.custom-card-half {
  width: 50%;
  margin: 0 auto;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}
